#body {
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  padding: 40px;
  background-color: orange;
  border-radius: 8px;
}

.display {
  background-color: rgb(230, 127, 1);
  display: flex;
  flex-wrap: wrap;
  height: 421px;
  width: 421px;
  border-radius: 8px;
  align-content: center;
  justify-content: center;
  border: 7px darkorange;
  border-style: inset;
}

#text {
  text-align: center;
  color: rgb(204, 113, 1);
}

.drum-pad {
  border: 1 px solid white;
  border-radius: 8px;
  background-color: gold;
  box-shadow: 2px 2px 5px darkred;
  cursor: pointer;
  color: darkorange;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  margin: 5px;
  height: 125px;
  width: 125px;
  opacity: 0.5;
}

.drum-pad.active {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  color: darkorange;
  animation: rainbow_animation 6s infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,
  50% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
}
